## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [2]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [45]:
df_mat['Qt_acertos'].unique() #verificando os valores do data frame df_mat

array([ 6, 19, 14, 10,  7, 20, 18, 22, 23,  3,  2, 21,  1, 11,  5,  0, 16,
        9, 15,  4,  8, 17, 13, 12])

In [53]:
# 1) Seu código aqui
# (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.

pcA_df_mat = df_mat/24
pcA_df_por = df_por/18
pcA_df_geo = df_geo/8
pcA_df_ing = df_ing/8
pcA_df_his = df_his/8
pcA_df_fis = df_fis/12
pcA_df_qui = df_qui/12

In [58]:
# 2) Seu código aqui
# (operações entre *DataFrames) Calcule o total de acertos de cada aluno.

total_acertos = df_mat + df_por + df_geo + df_ing + df_his  + df_fis + df_qui
total_acertos

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [62]:
# 3) Seu código aqui
# Calcule o porcentual geral de cada aluno.

# Porcentual geral: total de acertos dividido pela quantidade de questões
pGeral =  total_acertos / 90
pGeral

    Qt_acertos
0     0.388889
1     0.533333
2     0.555556
3     0.355556
4     0.333333
..         ...
95    0.377778
96    0.300000
97    0.444444
98    0.444444
99    0.466667

[100 rows x 1 columns]

In [88]:
# 4) Seu código aqui
# Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

nota_corte = total_acertos['Qt_acertos'] > 45
nota_corte_soma = nota_corte.sum() # somar todos os valores True

print(nota_corte_soma, 'Alunos estão acima da nota de corte.')

31 Alunos estão acima da nota de corte

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [ ]:
#arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-5ed92752-6121-474f-ab37-816918134afc.c000.csv'

# Obrigado ao tutor Luccas Mansur da EBAC que resolveu o problema do link quebrado

In [289]:
# 1) Sua solução aqui

#Quantas vacinas estão registradas nessa base?
df_vAcre = pd.read_csv('acre_dataset.csv', sep=';')
df_numero_linhas = vacAcre.shape[0]

print('Existem',df_numero_linhas,'vacinas registradas nessa base de dados.')

Existem 386816 vacinas registradas nessa base de dados.

In [507]:
df_vAcre.head(5)

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,4ec8a639-21c6-4849-93c2-71de387841ef-i0b0,c604d719b967aa9d85a43f3bcbb2fe4f3cd8588b8b6d83...,18.0,2003-09-30,F,3.0,PARDA,120035.0,10.0,MARECHAL THAUMATURGO,...,9.0,Trabalhadores de Saúde,FF8848,PFIZER,NaN,2022-02-24,Reforço,87,COVID-19 PFIZER - COMIRNATY,ESUS APS - NACIONAL (OFFLINE)
1,f6a861a3-7359-42e9-ac11-e5d1a379f0c6-i0b0,36e3a5f876c2f84b2ea04419f422e201af859f1b6f294f...,52.0,1969-06-14,F,99.0,SEM INFORMACAO,120040.0,10.0,RIO BRANCO,...,1.0,Comorbidades,212J21A,JANSSEN,30587,2022-06-09,2º Reforço,88,COVID-19 JANSSEN - Ad26.COV2.S,Novo PNI
2,5531292c-8a0b-4cc5-a579-630994b45b41-i0b0,8374e0245a4dd58a35c87c1243f8d841e2f834e9d3526a...,40.0,1981-07-27,F,3.0,PARDA,120050.0,10.0,SENA MADUREIRA,...,8.0,Trabalhadores da Educação,219VCD288Z,ASTRAZENECA/FIOCRUZ,Organization/149,2022-03-04,Reforço,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
3,ec453555-ae0b-4420-b703-68be64055dc6-i0b0,856182c8ff76d90dd31344176f0da5d685cf7bdfe23b4c...,9.0,2012-07-15,M,3.0,PARDA,120040.0,10.0,RIO BRANCO,...,NaN,NaN,FP1176,Pendente Identificação,Organization/28290,2022-01-25,1ª Dose,99,COVID-19 PEDIÁTRICA - PFIZER COMIRNATY,Novo PNI
4,2637d96e-cb64-4cdd-9bc8-9268e6a64d07-i0b0,da9312b11eb4d04bf43aaea8d2dee206761e78e6c8e55d...,55.0,1966-04-14,M,99.0,SEM INFORMACAO,120020.0,10.0,CRUZEIRO DO SUL,...,2.0,Faixa Etária,212VCD001ZVB,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-06-10,1ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI

In [396]:
# 2) #Quantos pacientes foram vacinados? (considere um paciente para cada valor único de paciente_id)

df_total_vacinados = df_vAcre['paciente_id'].nunique()
print('Existem',df_total_vacinados,'pacientes vacinados nessa base de dados.')

Existem 316259 pacientes vacinados nessa base de dados.

In [398]:
# 3) #Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método .unique().

#acessar a coluna [paciente_id] e localizar todas as entradas com a categoria [1ª Dose] da coluna [vacina_descricao_dose]
df_primeira_dose = df_vAcre['paciente_id'].loc[df_vAcre['vacina_descricao_dose'] == '1ª Dose'].nunique() 

print('Existem',df_primeira_dose,'pacientes vacinados com a 1ª Dose nessa base de dados.')

Existem 143120 pacientes vacinados com a 1ª Dose nessa base de dados.

In [412]:
# 3) solução alternativa

#receber o valor da categoria [1ª Dose] da coluna [vacina_descricao_dose], buscar por esse valor na variável e contar quantas vezes ele aparece
categoria_primeira_dose = df_vAcre['vacina_descricao_dose'].unique()[2]
print(categoria_primeira_dose)

#acessar a coluna [vacina_descricao_dose] e comparar com a variável. É uma forma redundante de resolver o problema, mas é alternativa a primeira solução
alt_primeira_dose = df_vAcre[df_vAcre['vacina_descricao_dose'] == categoria_primeira_dose]
df_alt_primeira_dose = alt_primeira_dose['paciente_id'].nunique()
print('Existem',df_alt_primeira_dose,'pacientes vacinados com a 1ª Dose nessa base de dados.')

1ª Dose
Existem 143120 pacientes vacinados com a 1ª Dose nessa base de dados.

In [414]:
# 4) #Quantos pacientes com menos de 18 anos foram vacinados?

menor_idade = df_vAcre['paciente_idade'] < 18
df_menor_idade = df_vAcre['paciente_id'].nunique()

print('Existem',df_menor_idade,'pacientes com menos de 18 anos nessa base de dados.')

Existem 316259 pacientes com menos de 18 anos nessa base de dados.

In [441]:
# 5) #Quantos estabelecimentos aplicaram vacina no Acre?

df_municipios = df_vAcre['estabelecimento_razaoSocial'].nunique()
print(df_municipios,'estabelecimentos aplicaram vacinas no Acre nessa base de dados.')

62 estabelecimentos aplicaram vacinas no Acre nessa base de dados.

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [426]:
# 1) #crie uma cópia do DataFrame original, contendo somente os registros de vacinas realizadas a menores de 18 anos.

df_menor_idade = df_vAcre[df_vAcre["paciente_idade"]<18].copy()

In [428]:
# 2) #crie uma lista das colunas desse DataFrame com o atributo de DataFrame .columns()

df_menor_idade.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [466]:
# 3) #Nesse DataFrame faça uma contagem do campo vacina_categoria_nome.
df_menor_idade['vacina_categoria_nome'].value_counts()

#Pelo resultado parece que seria necessário fazer uma limpeza de dados antes de prosseguir. Mas seguiremos mesmo assim.

vacina_categoria_nome
Faixa Etária                                      47344
Povos Indígenas                                    4616
Outros                                             3755
Povos e Comunidades Tradicionais                    819
Trabalhadores de Saúde                              254
Comorbidades                                         56
População Privada de Liberdade                       53
Gestantes                                            42
Pessoas com Deficiência                              11
Pessoas Institucionalizadas                           3
Trabalhadores da Educação                             2
Pessoas de 60 anos ou mais institucionalizadas        1
Puérperas                                             1
Name: count, dtype: int64

In [485]:
# 4) #a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.

lista_estabelecimentos = [
    'estabelecimento_valor','estabelecimento_razaoSocial',
           'estalecimento_noFantasia','estabelecimento_municipio_codigo',
                   'estabelecimento_municipio_nome','estabelecimento_uf'
]

#detalhe: o nome de uma das colunas é [estalecimento_noFantasia]. Escreveram errado e eu achei sem querer.

df_menor_lista = df_menor_idade.loc[:,lista_estabelecimentos]
df_menor_lista

,estabelecimento_valor,estabelecimento_razaoSocial,estalecimento_noFantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
3,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
11,2000164,PREFEITURA MUNICIPAL DE TARAUACA,UNIDADE DE SAUDE DA FAMILIA MARIA DA LUZ,120060,TARAUACA,AC
13,7625855,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO ...,POLO BASE DE MARECHAL THAUMATURGO,120035,MARECHAL THAUMATURGO,AC
19,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
23,6159087,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,SECRETARIA MUNICIPAL DE SAUDE DE CRUZEIRO DO SUL,120020,CRUZEIRO DO SUL,AC
...,...,...,...,...,...,...
386797,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
386799,3810771,PREFEITURA MUNICIPAL DE TARAUACA,UNIDADE DE S DA FAMILIA DR JOSE LEONCIO GOMES ...,120060,TARAUACA,AC
386800,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
386802,2002132,PREFEITURA MUN DE MAL THAUMATURGO,ESF RIBEIRINHA DR NALDIR MARIANO,120035,MARECHAL THAUMATURGO,AC
386810,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC

In [504]:
# 5) #Aplique o método .drop_duplicates e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

df_menor_lista.shape
#verificando os valores antes de aplicar drop_duplicates: (77019, 6)

df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista.shape

(204, 6)